# Data Science Salary

## Objectives
Show case data cleaning and transformation.

Guiding questions:
1. Can we make the salary column into integers?
2. What information can you extract out of job descriptions?
3. How can you remove the numbers from the company name?
3. How can you create some new features? (e.g. state column from the location column)


Task/s done:
1. Import the dataset using Pandas.
2. Check the first 5 data of the dataset.
3. Run the describe functionality to check the columns and column types.
4. Check for missing data/nulls.
5. Check for duplicate data/rows.
6. Check the data types.
7. Check for outliers in the data.
8. Validate Numeric Ranges

## Resources

Tutorials/Guides:
* [General Guide -- YT Mo Chen](https://www.youtube.com/watch?v=wObV_hwu2QM&list=PLodYDTuHA29aa_5UPCNg_g5fyleHxTZPU&ab_channel=MoChen)
* [KD nuggets data quality checks in Pandas](https://www.kdnuggets.com/7-essential-data-quality-checks-with-pandas)
* [IQR computation in Pandas](https://www.tutorialspoint.com/how-to-use-pandas-filter-with-iqr)

Dataset: https://www.kaggle.com/datasets/rashikrahmanpritom/data-science-job-posting-on-glassdoor?select=Uncleaned_DS_jobs.csv

In [1]:
# Import necessary packages
import pandas as pd

In [10]:
df = pd.read_csv("./resources/Uncleaned_DS_jobs.csv")
df.head() # Display the first 5 rows of the dataset

,index,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
0,0,Sr Data Scientist,$137K-$171K (Glassdoor est.),Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst\n3.1,"New York, NY","New York, NY",1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,"EmblemHealth, UnitedHealth Group, Aetna"
1,1,Data Scientist,$137K-$171K (Glassdoor est.),"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech\n4.2,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),-1
2,2,Data Scientist,$137K-$171K (Glassdoor est.),Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group\n3.8,"Boston, MA","Boston, MA",1001 to 5000 employees,1981,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),-1
3,3,Data Scientist,$137K-$171K (Glassdoor est.),JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON\n3.5,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),"MKS Instruments, Pfeiffer Vacuum, Agilent Tech..."
4,4,Data Scientist,$137K-$171K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee"

In [17]:
df.describe()

            index      Rating      Founded
count  672.000000  672.000000   672.000000
mean   335.500000    3.518601  1635.529762
std    194.133974    1.410329   756.746640
min      0.000000   -1.000000    -1.000000
25%    167.750000    3.300000  1917.750000
50%    335.500000    3.800000  1995.000000
75%    503.250000    4.300000  2009.000000
max    671.000000    5.000000  2019.000000

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 672 entries, 0 to 671
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   index              672 non-null    int64
 1   Job Title          672 non-null    object
 2   Salary Estimate    672 non-null    object
 3   Job Description    672 non-null    object
 4   Rating             672 non-null    float64
 5   Company Name       672 non-null    object
 6   Location           672 non-null    object
 7   Headquarters       672 non-null    object
 8   Size               672 non-null    object
 9   Founded            672 non-null    int64
 10  Type of ownership  672 non-null    object
 11  Industry           672 non-null    object
 12  Sector             672 non-null    object
 13  Revenue            672 non-null    object
 14  Competitors        672 non-null    object
dtypes: float64(1), int64(2), object(12)
memory usage: 78.9+ KB

In [6]:
# Check for missing values
missing_values = df.isnull().sum()
print("Missing Values:")
print(missing_values)

Missing Values:
index                0
Job Title            0
Salary Estimate      0
Job Description      0
Rating               0
Company Name         0
Location             0
Headquarters         0
Size                 0
Founded              0
Type of ownership    0
Industry             0
Sector               0
Revenue              0
Competitors          0
dtype: int64

In [10]:
# Check for duplicate data
duplicate_data = df[df.duplicated()]
print("Duplicate rows: ")
print(duplicate_data)

Duplicate rows:
Empty DataFrame
Columns: [index, Job Title, Salary Estimate, Job Description, Rating, Company Name, Location, Headquarters, Size, Founded, Type of ownership, Industry, Sector, Revenue, Competitors]
Index: []

In [13]:
# Check for the data types
data_types = df.dtypes
print("Data types:")
print(data_types)

Data types:
index                  int64
Job Title             object
Salary Estimate       object
Job Description       object
Rating               float64
Company Name          object
Location              object
Headquarters          object
Size                  object
Founded                int64
Type of ownership     object
Industry              object
Sector                object
Revenue               object
Competitors           object
dtype: object

In [5]:
# Identify the outliers, if any.
# One approach we can use is to check for the IQR, the difference between Q3,and  Q1.
# Since we dont have columns to be calculated, please refer to the sample code below on how to check for the IQR

columns_to_check = [ADD COLUMN IN THE DF]


# Function to find records with outliers
def find_outliers_pandas(data, column):
    Q1 = data[column].quantile(0.25)
    Q3 = data[column].quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    # The general rule is that any value below Q1 - 1.5 * IQR or above Q3 + 1.5 * IQR is considered an outlier.
    outliers = data[(data[column] < lower_bound) | (data[column] > upper_bound)]
    return outliers


# Find records with outliers for each specified column
outliers_dict = {}

for column in columns_to_check:
    outliers_dict[column] = find_outliers_pandas(df, column)

# Print the records with outliers for each column
for column, outliers in outliers_dict.items():
    print(f"Outliers in '{column}':")
    print(outliers)
    print("\n")

                        Size  Rating
0     1001 to 5000 employees     3.1
1    5001 to 10000 employees     4.2
2     1001 to 5000 employees     3.8
3      501 to 1000 employees     3.5
4        51 to 200 employees     2.9
..                       ...     ...
667   1001 to 5000 employees     3.6
668                       -1    -1.0
669                       -1    -1.0
670        1 to 50 employees     5.0
671   1001 to 5000 employees     2.7

[672 rows x 2 columns]

In [13]:
# Validate Numeric Ranges
# We are checking the company rating, since Glassdoor has company rating of 0-5, we should only get values between 0-5

valid_range = (0.0,5.0)
# ~ is the bitwise of NOT, it means that it will inverse the result. e.g., True > False and vice versa
# * will unpack the elements in a collection (list,tuple,etc)
value_range_check = df[~df['Rating'].between(*valid_range)] # This will return all the rows that are not between 0 and 5
print("Value Range Check (Rating): ")
print(value_range_check)

Value Range Check (Rating):
     index                               Job Title  \
154    154        ELISA RESEARCH SCIENTIST (CV-15)
158    158               Machine Learning Engineer
230    230                          Data Scientist
282    282                          Data Scientist
285    285                          Data Scientist
290    290                          Data Scientist
319    319                          Data Scientist
322    322                          Data Scientist
329    329                          Data Scientist
338    338                          Data Scientist
351    351                          Data Scientist
357    357                          Data Scientist
358    358                          Data Scientist
359    359                          Data Scientist
360    360                          Data Scientist
361    361                          Data Scientist
362    362                          Data Scientist
388    388                          Data Scientist
389    389                          Data Scientist
409    409                          Data Scientist
411    411                          Data Scientist
425    425                          Data Scientist
430    430                          Data Scientist
431    431                          Data Scientist
437    437                          Data Scientist
438    438                          Data Scientist
440    440                          Data Scientist
457    457                          Data Scientist
459    459                          Data Scientist
495    495                          Data Scientist
496    496                          Data Scientist
497    497                          Data Scientist
498    498                          Data Scientist
499    499                          Data Scientist
500    500                          Data Scientist
504    504                          Data Scientist
519    519  Scientist / Group Lead, Cancer Biology
524    524                          Data Scientist
555    555                          Data Scientist
568    568                          Data Scientist
613    613                          Data Scientist
615    615                          Data Scientist
637    637                          Data Scientist
650    650  Scientist / Group Lead, Cancer Biology
656    656                          Data Scientist
657    657                          Data Scientist
660    660                          Data Scientist
664    664                          Data Scientist
668    668                          Data Scientist
669    669                          Data Scientist

                  Salary Estimate  \
154   $90K-$109K (Glassdoor est.)
158  $101K-$165K (Glassdoor est.)
230   $71K-$123K (Glassdoor est.)
282   $91K-$150K (Glassdoor est.)
285  $141K-$225K (Glassdoor est.)
290  $141K-$225K (Glassdoor est.)
319    $145K-$225K(Employer est.)
322    $145K-$225K(Employer est.)
329   $79K-$147K (Glassdoor est.)
338   $79K-$147K (Glassdoor est.)
351  $122K-$146K (Glassdoor est.)
357  $122K-$146K (Glassdoor est.)
358  $122K-$146K (Glassdoor est.)
359  $122K-$146K (Glassdoor est.)
360  $122K-$146K (Glassdoor est.)
361  $122K-$146K (Glassdoor est.)
362  $122K-$146K (Glassdoor est.)
388  $110K-$163K (Glassdoor est.)
389  $110K-$163K (Glassdoor est.)
409  $124K-$198K (Glassdoor est.)
411  $124K-$198K (Glassdoor est.)
425  $124K-$198K (Glassdoor est.)
430   $79K-$133K (Glassdoor est.)
431   $79K-$133K (Glassdoor est.)
437   $79K-$133K (Glassdoor est.)
438   $79K-$133K (Glassdoor est.)
440   $79K-$133K (Glassdoor est.)
457   $69K-$116K (Glassdoor est.)
459   $69K-$116K (Glassdoor est.)
495   $95K-$119K (Glassdoor est.)
496   $95K-$119K (Glassdoor est.)
497   $95K-$119K (Glassdoor est.)
498   $95K-$119K (Glassdoor est.)
499   $95K-$119K (Glassdoor est.)
500   $95K-$119K (Glassdoor est.)
504   $95K-$119K (Glassdoor est.)
519  $212K-$331K (Glassdoor est.)
524  $212K-$331K (Glassdoor est.)
555  $128K-$201K (Glassdoor est.)
568  $128K-$201K (Glassdoor est.)
613   $87K-$141K (Glassdoor est.)
615   $87K-$141K (Glassdoor est.)
637   $92K-$155K (Glassdoor est.)
650   $92K-$155K (Glassdoor est.)
656  $105K-$167K (Glassdoor est.)
657  $105K-$167K (Glassdoor est.)
660  $105K-$167K (Glassdoor est.)
664  $105K-$167K (Glassdoor est.)
668  $105K-$167K (Glassdoor est.)
669  $105K-$167K (Glassdoor est.)

                                       Job Description  Rating  \
154  Covaxx, a subsidiary of the UBI Group, has joi...    -1.0
158  Overview\n\nRadical Convergence is a fast-pace...    -1.0
230  Senior Data Scientist Active Secret clearance ...    -1.0
282  Greetings from Trovetechs!!!\n\nÂ\n\nWe have a...    -1.0
285  Greetings from Trovetechs!!!\n\nÂ\n\nWe have a...    -1.0
290  Work Authorization Those authorized to work in...    -1.0
319  Job Description\nSelecting features, building ...    -1.0
322  Job Description\nData Scientist\nAre you inter...    -1.0
329  Description:\n\nPosition Requires a Top Secret...    -1.0
338  Work in a fast growing startup with unlimited ...    -1.0
351  About Our AI/ML Team\n\nOur mission is to buil...    -1.0
357  Job Overview: The Data Scientist is a key memb...    -1.0
358  Job Overview: The Data Scientist is a key memb...    -1.0
359  Job Overview: The Data Scientist is a key memb...    -1.0
360  Job Overview: The Data Scientist is a key memb...    -1.0
361  Job Overview: The Data Scientist is a key memb...    -1.0
362  Job Overview: The Data Scientist is a key memb...    -1.0
388  Job Description\nAs a Data Scientist, you will...    -1.0
389  Job Description\nAs a Data Scientist, you will...    -1.0
409  About Navio:\nNavio builds software tools that...    -1.0
411  Our entertainment company is seeking a Data Sc...    -1.0
425  Job Description\nSelecting features, building ...    -1.0
430  Job Description\nFalcon It is seeking a Data S...    -1.0
431  Job Description\nData Scientist\nAre you inter...    -1.0
437  Description:\n\nPosition Requires a Top Secret...    -1.0
438  Title Data Scientist Location Remote Duration ...    -1.0
440  Data Scientist\n\nSonde Health, a Boston based...    -1.0
457  Work in a fast growing startup with unlimited ...    -1.0
459  We are looking for a highly motivated data sci...    -1.0
495  Job Overview: The Data Scientist is a key memb...    -1.0
496  Job Overview: The Data Scientist is a key memb...    -1.0
497  Job Overview: The Data Scientist is a key memb...    -1.0
498  Job Overview: The Data Scientist is a key memb...    -1.0
499  Job Overview: The Data Scientist is a key memb...    -1.0
500  Job Overview: The Data Scientist is a key memb...    -1.0
504  Job Description\nWorking at Sophinea\n\nSophin...    -1.0
519  Scientist / Group Lead, Cancer Biology\nLocati...    -1.0
524  CompuForce is seeking an experienced and highl...    -1.0
555  Job Description\nAs a Data Scientist, you will...    -1.0
568  At Kibo, we provide cloud commerce solutions i...    -1.0
613  DESCRIPTION\n\nGrainBridge is seeking a talent...    -1.0
615  Position Description\n\nSprezzatura seeks a Da...    -1.0
637  Job Description\nWorking at Sophinea\n\nSophin...    -1.0
650  Scientist / Group Lead, Cancer Biology\nLocati...    -1.0
656  Join our team dedicated to developing and exec...    -1.0
657  Overview\n\nGood people, working with good peo...    -1.0
660  Location: Redmond, WA\nClient: Microsoft (Un-M...    -1.0
664  Job Description\nClear Ridge has an exciting o...    -1.0
668  Job Description\nBecome a thought leader withi...    -1.0
669  Join a thriving company that is changing the w...    -1.0

                          Company Name           Location  \
154           Covid-19 Search Partners      Hauppauge, NY
158                Radical Convergence         Reston, VA
230                       Encode, Inc.        Norfolk, VA
282                     Trovetechs Inc  San Francisco, CA
285                     Trovetechs Inc  San Francisco, CA
290                           PETADATA  San Francisco, CA
319                       Microagility       New York, NY
322           Rainmaker Resources, LLC     Cincinnati, OH
329                             B4Corp         Reston, VA
338                      Stride Search  San Francisco, CA
351                   Point72 Ventures      Palo Alto, CA
357                     Hatch Data Inc  San Francisco, CA
358                     Hatch Data Inc  San Francisco, CA
359                     Hatch Data Inc  San Francisco, CA
360                     Hatch Data Inc  San Francisco, CA
361                     Hatch Data Inc  San Francisco, CA
362                     Hatch Data Inc  San Francisco, CA
388                             HireAi  San Francisco, CA
389                             HireAi  San Francisco, CA
409                              Navio      San Mateo, CA
411                           Evolvinc        Burbank, CA
425                       Microagility       New York, NY
430     Falcon IT & Staffing Solutions   Fort Belvoir, VA
431           Rainmaker Resources, LLC     Cincinnati, OH
437                             B4Corp         Reston, VA
438                Blue Icy Water, LLC      United States
440                       Sonde Health         Boston, MA
457                      Stride Search  San Francisco, CA
459                     Blue Cloak LLC       Sterling, VA
495                     Hatch Data Inc  San Francisco, CA
496                     Hatch Data Inc  San Francisco, CA
497                     Hatch Data Inc  San Francisco, CA
498                     Hatch Data Inc  San Francisco, CA
499                     Hatch Data Inc  San Francisco, CA
500                     Hatch Data Inc  San Francisco, CA
504                           Sophinea      Chantilly, VA
519            Monte Rosa Therapeutics      Cambridge, MA
524                         CompuForce       New York, NY
555                             HireAi  San Francisco, CA
568                               Kibo   Philadelphia, PA
613                   GrainBridge, LLC          Omaha, NE
615  Sprezzatura Management Consulting     Washington, VA
637                           Sophinea      Chantilly, VA
650            Monte Rosa Therapeutics      Cambridge, MA
656                Berico Technologies   Fort Belvoir, VA
657             Kehe Food Distributors     Naperville, IL
660                       Pactera Edge        Redmond, WA
664                Clear Ridge Defense       Quantico, VA
668                               JKGT  San Francisco, CA
669                         AccessHope      Irwindale, CA

             Headquarters                 Size  Founded  \
154                    -1                   -1       -1
158                    -1                   -1       -1
230         Manalapan, NJ    1 to 50 employees       -1
282      Hillsborough, NJ              Unknown       -1
285      Hillsborough, NJ              Unknown       -1
290           Fremont, CA  51 to 200 employees       -1
319         Princeton, NJ    1 to 50 employees       -1
322        Cincinnati, OH    1 to 50 employees       -1
329          Leesburg, VA  51 to 200 employees       -1
338  Westlake Village, CA    1 to 50 employees       -1
351                    -1                   -1       -1
357                    -1                   -1       -1
358                    -1                   -1       -1
359                    -1                   -1       -1
360                    -1                   -1       -1
361                    -1                   -1       -1
362                    -1                   -1       -1
388                    -1                   -1       -1
389                    -1                   -1       -1
409     Half Moon Bay, CA              Unknown       -1
411       Los Angeles, CA    1 to 50 employees     2005
425         Princeton, NJ    1 to 50 employees       -1
430        Washington, DC              Unknown       -1
431        Cincinnati, OH    1 to 50 employees       -1
437          Leesburg, VA  51 to 200 employees       -1
438           Livonia, MI    1 to 50 employees       -1
440            Boston, MA    1 to 50 employees       -1
457  Westlake Village, CA    1 to 50 employees       -1
459                    -1                   -1       -1
495                    -1                   -1       -1
496                    -1                   -1       -1
497                    -1                   -1       -1
498                    -1                   -1       -1
499                    -1                   -1       -1
500                    -1                   -1       -1
504                    -1    1 to 50 employees       -1
519                    -1                   -1       -1
524          New York, NY              Unknown       -1
555                    -1                   -1       -1
568       Marbella, Spain              Unknown       -1
613                    -1                   -1       -1
615            McLean, VA              Unknown       -1
637                    -1    1 to 50 employees       -1
650                    -1                   -1       -1
656                    -1                   -1       -1
657                    -1                   -1       -1
660                    -1                   -1       -1
664         Baltimore, MD    1 to 50 employees       -1
668                    -1                   -1       -1
669                    -1                   -1       -1

           Type of ownership                          Industry  \
154                       -1                                -1
158                       -1                                -1
230        Company - Private                       IT Services
282        Company - Private                                -1
285        Company - Private                                -1
290        Company - Private                                -1
319        Company - Private                        Consulting
322        Company - Private                                -1
329        Company - Private                       IT Services
338        Company - Private                                -1
351                       -1                                -1
357                       -1                                -1
358                       -1                                -1
359                       -1                                -1
360                       -1                                -1
361                       -1                                -1
362                       -1                                -1
388                       -1                                -1
389                       -1                                -1
409                  Unknown                                -1
411        Company - Private                       IT Services
425        Company - Private                        Consulting
430         Company - Public                                -1
431        Company - Private                                -1
437        Company - Private                       IT Services
438        Company - Private                                -1
440  Private Practice / Firm  Health Care Services & Hospitals
457        Company - Private                                -1
459                       -1                                -1
495                       -1                                -1
496                       -1                                -1
497                       -1                                -1
498                       -1                                -1
499                       -1                                -1
500                       -1                                -1
504                  Unknown                                -1
519                       -1                                -1
524        Company - Private                                -1
555                       -1                                -1
568         Company - Public                                -1
613                       -1                                -1
615        Company - Private                                -1
637                  Unknown                                -1
650                       -1                                -1
656                       -1                                -1
657                       -1                                -1
660                       -1                                -1
664        Company - Private                                -1
668                       -1                                -1
669                       -1                                -1

                     Sector                     Revenue Competitors
154                      -1                          -1          -1
158                      -1                          -1          -1
230  Information Technology     $5 to $10 million (USD)          -1
282                      -1    Unknown / Non-Applicable          -1
285                      -1    Unknown / Non-Applicable          -1
290                      -1    Unknown / Non-Applicable          -1
319       Business Services      $1 to $5 million (USD)          -1
322                      -1    Unknown / Non-Applicable          -1
329  Information Technology    Unknown / Non-Applicable          -1
338                      -1  Less than $1 million (USD)          -1
351                      -1                          -1          -1
357                      -1                          -1          -1
358                      -1                          -1          -1
359                      -1                          -1          -1
360                      -1                          -1          -1
361                      -1                          -1          -1
362                      -1                          -1          -1
388                      -1                          -1          -1
389                      -1                          -1          -1
409                      -1    Unknown / Non-Applicable          -1
411  Information Technology    Unknown / Non-Applicable          -1
425       Business Services      $1 to $5 million (USD)          -1
430                      -1    Unknown / Non-Applicable          -1
431                      -1    Unknown / Non-Applicable          -1
437  Information Technology    Unknown / Non-Applicable          -1
438                      -1    Unknown / Non-Applicable          -1
440             Health Care  Less than $1 million (USD)          -1
457                      -1  Less than $1 million (USD)          -1
459                      -1                          -1          -1
495                      -1                          -1          -1
496                      -1                          -1          -1
497                      -1                          -1          -1
498                      -1                          -1          -1
499                      -1                          -1          -1
500                      -1                          -1          -1
504                      -1    Unknown / Non-Applicable          -1
519                      -1                          -1          -1
524                      -1    Unknown / Non-Applicable          -1
555                      -1                          -1          -1
568                      -1    Unknown / Non-Applicable          -1
613                      -1                          -1          -1
615                      -1    Unknown / Non-Applicable          -1
637                      -1    Unknown / Non-Applicable          -1
650                      -1                          -1          -1
656                      -1                          -1          -1
657                      -1                          -1          -1
660                      -1                          -1          -1
664                      -1    Unknown / Non-Applicable          -1

     index                         Job Title              Salary Estimate  \
154    154  ELISA RESEARCH SCIENTIST (CV-15)  $90K-$109K (Glassdoor est.)

                                       Job Description  Rating  \
154  Covaxx, a subsidiary of the UBI Group, has joi...    -1.0

                 Company Name       Location Headquarters Size  Founded  \
154  Covid-19 Search Partners  Hauppauge, NY           -1   -1       -1

    Type of ownership Industry Sector Revenue Competitors
154                -1       -1     -1      -1          -1